*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.cont{
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
}

.grey{
    background-color: lightgray;
}

section{
    padding: 30px 0;
}


/* HEADER */

/* top */
.header-top{
    padding: 20px 0;
    background-color:#345ee9;
}

.top-area{
    color: white;
}

.logo{
    width: 20%;
    padding: 10px;
}

nav{
    width: 60%;
    padding: 10px;
}

.login{
    width: 20%;
    padding: 10px;
    text-align: right;
}

.btn{
    background-color: white;
    border-radius: 20px;
    border-width: 1px;
    padding: 7px 7px;
}

.t-menu{
    list-style: none;
    justify-content: space-between;
}

.t-menu li a{
    text-decoration: none;
    color: inherit;
}

/* jumbo */

.jumbo-back{
background-color: blue;
height: 450px;
justify-content: center;
align-items: center;
}

.jumbo-text{
    background-color: pink;
    width: 50%;
    height: 300px;  
}

/* MAIN */

.col-immagine{
    width: 60%;
    background-color: lightpink; 
    height: 400px;  /*togliere*/
}

.col-testo{
    width: 40%;
    background-color: lightblue;    /*togliere*/
    height: 400px;  /*togliere*/
}

.big-green{
    width: 100%;
    background-color: green;    /*togliere*/
    height: 600px;      /*togliere*/

}

/* FOOTER */

/* top */

.black{
    background-color: black;
}

.top-padding{
    padding-top: 10px;
    padding-bottom: 20px;

}
.f-minor{
    width: 30%;
    background-color: pink;
    height: 400px;
}

.f-major{
    width: 70%;
    background-color: aqua;
    height: 400px;
}   

.f-menu{
    width: 25%;
    border: 1px solid black;
    width: 100%;
    
}

hr{
    border-style: solid;
    color: gray;
    background-color: gray;
}

/* bottom */

.bottom-padding{
    padding-top: 20px;
    padding-bottom: 0%;
}

.bottom{
    background-color: aquamarine;
    color: black;
    justify-content: space-between;
}

.bottom button{
    border-style: solid;
    border-width: 1px;
    padding: 7px 7px;
    margin: 10px 0;
    border: 1px dotted black

}